html {
  box-sizing: border-box;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

body {
  background-color: #c9b5ab;
}

header {
  color: #3f1622;
  font-family: 'PT Sans';
}

h2 {
  font-family: 'PT Sans';
  color: #3f1622;
  font-size: 1.125rem;
}

nav dl {
  color: #8f2440;
  margin-left: 3em;
}

nav .list {
  color: #8f2440;
  font-size: 1.5rem;
}

[href="Common-varieties"] {
  color: #8f2440;
  font-size: 1.5rem;
}

[href="Nutritional-information"] {
  color: #8f2440;
  font-size: 1.5rem;
}

[href="Tags"] {
  color: #8f2440;
  font-size: 1.5rem;
}

.blockquote p {
  font-family: PT Serif;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
}

figcaption {
  font: PT Serif;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

main .intro::first-line {
  font-size: 1.125rem;
  font-weight: bold;
}

footer .source {
  color: #8f2440
}
