html {
  box-sizing: border-box;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

header {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  line-height: .8rem;
  font-size: 1rem;
}

nav ol {
  margin-left: .2em;
  line-height: 1.5;
  list-style-type: lower-greek;
}

nav .list {
  color: #3f1622;
  font-size: 1.125rem;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

.blockquote p {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
  font-weight: normal;
}

main .blockquote .blockquote {
  font-weight: normal;
}

figcaption {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

main .intro::first-line {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5;
}

footer .source {
  color: #8f2440;
  font-size: .8rem;
}

aside .list {
  list-style-type: circle;
  line-height: 1.5;
}

img {
  width: 100%;
}

dl dt {
  font-weight: bold;
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

dt ~ dd {
  line-height: 1.5;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #8f2440;
}
